/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(ff, ff, ff);
    font-family: 'Lato', sans-serif;
    color: #333;
}

/* Typography */
h4 {
    padding-bottom: 6px;
}

h5 {
    font-weight: 400;
}

h5.last-access {
    font-weight: 600;
    color: #6B7376;
}

.fas,
.far {
    color: #B1B1B1;
    padding: 0 7px;
    cursor: pointer;
    font-size: 20px;
}

/* Utilities */
.chat-template {
    display: none;
}

/* layout */
#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #039688 0%,
        #039688 150px,
        #DADBD3 150px,
        #DADBD3 100%
    );
}

.container {
    display: flex;
    width: 90%;
    min-width: 900px;
    height: 95%;
    background-color: #EAEAEA;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    height: 100%;
    border-right: 1px solid #DADBD3;
}

.content {
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
    height: 100%;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 65px;
    flex-shrink: 0;
    padding: 8px;
}

.content header {
    display: block;
}

/* Images */
img.avatar {
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-right: 12px;
}

.chat-list img.avatar {
    width: 60px;
    margin-right: 18px;
}

/* Contact (valgono per sidebar e header content) */
.contact-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact .last-msg,
.contact .last-msg-time {
    color: #B6B9BB;
}

.contact .last-msg-time {
    font-size: 12px;
}

.chat-list .contact {
    padding-left: 16px;
    padding-right: 8px;
}

.icons {
    padding-right: 10px;
}

.chat-list .contact {
    padding-left: 16px;
    padding-right: 8px;
}

/* Sidebar */
.sidebar .alert {
    display: flex;
    align-items: center;
    min-height: 75px;
    background-color: #8EDAFD;
    padding-left: 16px;
}

.sidebar .alert .bell-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F2FBFF;
    margin-right: 12px;
}

.sidebar .alert .bell-icon i {
    font-size: 25px;
    color: #8EDAFD;
}

.sidebar .alert h5 {
    color: #555;
    text-decoration: underline;
    cursor: pointer;
}

.sidebar .search {
    background-color: #FAFAFA;
    height: 50px;
    max-height: 50px;
}

.sidebar .search > div {
    display: flex;
    align-items: center;
    width: 97%;
    margin: 1.5%;
    border: 1px solid rgba(0,0,0,.05);
}

.sidebar .search i {
    padding-left: 24px;
}

.sidebar .search input {
    margin-left: 24px;
    padding: 8px;
    outline: none;
    border: none;
    background-color: #FAFAFA;
    width: 90%;
}

.sidebar .chat-list {
    flex-grow: 1;
    background-color: #fff;
    list-style: none;
    overflow-y: auto;
}

.sidebar .chat-list li {
    height: 76px;
}

.sidebar .chat-list li.active {
    background-color: #E9EBEB;
}

.sidebar .chat-list li:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.03);
}

/* Active chat */
.content .chat {
    flex-grow: 1;
    background-image: url('../img/mine.jpg');
}

.content .chat .message-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.chat {
    padding-top: 65px;
}

.chat .msg {
    position: relative;
    width: auto;
    max-width: 450px;
    height: auto;
    margin: 10px 80px;
    padding: 18px 18px 20px 18px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    background-color: #D4FABA;
}

.chat .msg--sent {
    align-self: flex-end;
}

.chat .msg--received {
    align-self: flex-start;
    background-color: #fff;
}

.chat .msg--actions {
    opacity: 0;
    position: absolute;
    top: 8px;
    right: 5px;
}

.chat .msg--actions:hover {
    opacity: 1;
}

.chat .msg--text {
    padding-right: 28px;
}

.chat .msg--time {
    position: absolute;
    bottom: 8px;
    right: 12px;
    font-size: 10px;
    color: #B6B9BB;
}

.content .new-message {
    display: flex;
    background-color: #F3EEEB;
}

.content .new-message .text-input {
    flex-grow: 1;
}

.content .new-message input {
    width: 97%;
    padding: 12px;
    margin: 0 1.5%;
    outline: none;
    border: 1px solid rgba(0,0,0,.05);
}

.content .new-message input:focus {
    border: 2px solid #6C9AF1;
    border-radius: 2px;
    box-shadow: 0px 0px 3px rgba(108,154,241,1),
                inset 0px 0px 3px rgba(108,154,241,1);
}

.content .new-message .send {
    display: none;
}

.content .new-message .actions .fas,
.content .new-message .actions .far {
    text-align: center;
    padding: 0 30px;
    color: #6B7376;
    font-size: 24px;
}